<div class="" id="messages"
     style="display: flex; flex-direction: column; height: 100%;">


  <mat-toolbar color="primary">
    <span>Monkey Tailr</span>
    <mat-form-field style="font-size: 10pt; width: 500px; margin-left: 10px ">
      <mat-label>
        Log File:
      </mat-label>
      <mat-select (selectionChange)="onFileKeyChange($event.value)">
        <mat-option value=""></mat-option>
        <mat-option *ngFor="let file of fileMaps" [value]="file.fileKey">{{file.fileLoc}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="onClickDownload()" mat-button>Download</button>
  </mat-toolbar>

  <div #scrollMe style="overflow-y: scroll; flex: 1;   background: #002b36; color: #839496;">
    <pre id="content">{{curLog}}</pre>
  </div>
</div>
